
@import "_partials/bootstrap";

$dark_red: #7F1519;
$red: #D0161B;
$yellow: #FFCD05;
// $light_blue: #69CCE2;

body {
  background-color: transparent;
  font: 14px 'helvetica neue', helvetica, sans-serif;
}

.br-widget {
  margin: 8px 3px 0;
  padding: 4px 12px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.br-form-heading {
  margin: 0;
  padding: 27px 0 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.05;
  background: transparent image-url('car-illustration.png') no-repeat 100% 0;
  color: $red;
  span {
    display: block;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.form-label, .form-label-checkbox {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 300;
}

.form-label-checkbox {
  font-weight: 400;
}

.form-label-adjacent {
  float: left;
}

.form-control-select {
  font-size: 13px;
  font-weight: 300;      
}

.form-fieldset {
  padding: 8px 0;
  border-top: 1px solid #ddd;
  &:last-child {
    padding-bottom: 0;
  }
}

.btn-bestride {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  background-color: $red;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  &:hover, &:focus, &:active {
    background-color: $dark_red;
    color: #fff;
  }
}

.table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-row-auto {
  table-layout: auto;
}

.table-cell {
  display: table-cell;
  width: auto;
  vertical-align: middle;
}

.table-cell-label {
  width: 80px;
}

.table-cell-right {
  text-align: right;
}

